/* app css stylesheet */

body {
  padding-top: 55px;
}

ul.filtros {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.filtros > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.filtros > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.filtros > li > label{
    display: inline;
}
ul.filtros > li > .radio , ul.filtros > li > .checkbox {
    padding-left: 0px;
}

h1 {
  border-bottom: 1px solid gray;
}

select{
    width: auto;
}
.navbar .form-inline label{
}

.navbar .form-inline span{
    margin-left: 15px;
    margin-right: 5px;
}

.dropdown-menu{
    min-width: 205px;
}

#map_canvas{
    height: 480px;
}





@media (max-width: 1024px) {
    body {
        padding-top: 55px;
    }
    .accordion,form {
        margin-bottom: 10px;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row-fluid [class*="span"] {
        margin-left: 1%;
    }
    .row-fluid .span2 {
        width: 16%;
    }
    #map_canvas {
        height: 445px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 52px;
        padding-left: 7px;
        padding-right: 7px;
    }
    [class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }
    .container-fluid {
        padding-left: 7px;
        padding-right: 7px;
    }
    .accordion,form {
        margin-bottom: 2px;
    }
    .navbar .form-inline label{
        color: #f5f5f5;
    }
    #map_canvas {
        height: 440px;
    }
}

@media (max-width: 640px) {
    body{
        padding-left: 7px;
        padding-right: 7px;
    }
}
