/* app css stylesheet */

body {
 padding-top: 50px;
}

ul.filtros {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.filtros > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.filtros > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.filtros > li > label{
    display: inline;
}
ul.filtros > li > .radio , ul.filtros > li > .checkbox {
    padding-left: 0px;
}

h1 {
  border-bottom: 1px solid gray;
}
#map_canvas{
    height: 500px;
}

@media (min-width: 768px) and (max-width: 979px) {
    #map_canvas{
        height: 420px;
    }
}